@use '../variables';

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: variables.$interactive-active;
}

a {
  color: variables.$text-link;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}
